@charset "utf-8";
html,body,h1,h2,h3,ul,li,dl,dd,dt,img,a,p,span,div{
    margin:0; padding:0;
    list-style-type:none;
    font-weight:normal;
    -moz-box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing: border-box;
}
html,body{
    height:100%;
    width:100%;
    color: #515151;
    font-family:"Microsoft YaHei","微软雅黑",tahoma,"黑体";
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a{ text-decoration:none; outline:none;}
em,i,b{ font-style:normal;}
.fl{ float:left;}
.fr{ float:right;}
.clear { zoom:1; }
.clear:after { content:''; display:block; clear:both; }
input{border: none;outline:none;}
textarea{border:none;outline:none;resize:none;}
.borderNone{
    border:none!important;
}
.marginNone{
    margin:0!important;
}








