* {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}
img {
  border: none;
}
input,
select,
textarea {
  outline: none;
  border: none;
  background: none;
}
textarea {
  resize: none;
}
a {
  text-decoration: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
body {
  background: #fff;
}
.container {
  width: 100%;
}
.imgBox {
  float: left;
  width: 30%;
}
.con {
  border-top: 1px solid #e1e5e7;
  border-bottom: 1px solid #e1e5e7;
}
.border-right {
  border-right: 1px solid  #e1e5e7;
}
.bottom {
  width: 100%;
  position: fixed;
  bottom: 0;
  background: #fff;
}
.botWrap {
  *zoom: 1;
  width: 90%;
  margin: 20px auto;
}
.botWrap:before,
.botWrap:after {
  display: table;
  content: "";
}
.botWrap:after {
  clear: both;
}
@media all and (max-width: 767px) {
  .header {
    width: 100%;
    background: #5fc0cd;
    padding: 16px 0;
    *zoom: 1;
  }
  .header:before,
  .header:after {
    display: table;
    content: "";
  }
  .header:after {
    clear: both;
  }
  .headerLeft {
    display: inline;
    float: left;
  }
  .headerRight {
    display: inline;
    float: right;
  }
  .header h1 {
    display: inline;
    float: left;
  }
  .headerWrap {
    width: 100%;
  }
  .headerLeft {
    width: 20%;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
  }
  .headerRight {
    width: 20%;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
  }
  .main {
    width: 90%;
    margin: 0 auto;
  }
  .header h1 {
    width: 60%;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
  }
  .headerImg {
    display: block;
    width: 20px;
    height: 30px;
    margin: 0 auto;
  }
  .banner {
    width: 100%;
    height: 150px;
    background: url(../../images/task5/banner1.png) no-repeat center top;
    background-size: cover;
    padding-top: 30px;
  }
  .banner .info {
    *zoom: 1;
    width: 90%;
    margin: 0 auto;
  }
  .banner .info:before,
  .banner .info:after {
    display: table;
    content: "";
  }
  .banner .info:after {
    clear: both;
  }
  .imgBox .headPicBox {
    display: block;
    width: 80px;
    height: 80px;
    background: #fff;
    border-radius: 40px;
    overflow: hidden;
  }
  .imgBox .headPic {
    display: block;
    width: 60px;
    height: 80px;
    margin: 0 auto;
    margin-top: 18px;
  }
  .introduce {
    float: left;
    margin-top: 15px;
    margin-left: 20px;
  }
  .introduce .introTitle {
    font-family: "Adobe Fan Heiti Std B";
    font-size: 18px;
    color: #fff;
    line-height: 26px;
  }
  .introduce .introTitle span {
    margin-left: 22px;
    font-size: 16px;
  }
  .introduce .introCon {
    font-family: "Adobe Fan Heiti Std B";
    font-size: 14px;
    color: #fff;
    line-height: 22px;
  }
  .introduce .introCon span {
    display: inline-block;
    width: 16px;
    height: 14px;
    background: url(../../images/task5/Shape.png) no-repeat center top;
    vertical-align: middle;
    background-size: contain;
  }
  .content {
    width: 100%;
    padding-bottom: 120px;
    margin: 0 auto;
  }
  .content .title {
    margin: 20px 0;
    margin-left: 20px;
    padding-left: 10px;
    border-left: 2px solid #5fc0cd;
    color: #333;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
  }
  .content .conTitle {
    height: 24px;
    line-height: 24px;
    font-size: 18px;
    margin: 20px 0;
    margin-left: 20px;
  }
  .content .conTitle span {
    display: inline-block;
    padding: 0 10px;
    vertical-align: top;
  }
  .content .conTitleImg {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    vertical-align: baseline;
  }
  .content .conList {
    font-size: 14px;
    padding: 20px 0;
    margin-left: 20px;
    border-top: 1px solid #e1e5e7;
  }
  .content .conList span {
    width: 22%;
    display: inline-block;
    color: #999;
    border-right: 1px solid  #e1e5e7;
    vertical-align: middle;
    text-align: center;
  }
  .content .conList em {
    width: 74%;
    display: inline-block;
    color: #333333;
    padding-left: 10px;
    font-style: normal;
    vertical-align: middle;
  }
  .content .conList b {
    color: #e26163;
  }
  .bottom .btn {
    display: block;
    font-size: 26px;
    height: 50px;
    line-height: 50px;
    width: 45%;
    text-align: center;
  }
  .bottom .btn a {
    display: block;
    color: #5fc0cd;
    width: 100%;
    height: 100%;
    background: #fff;
    border: 1px solid #5fc0cd;
    border-radius: 4px;
  }
  .bottom .btn a.active {
    background: #5fc0cd;
    color: #fff;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .header {
    width: 100%;
    background: #5fc0cd;
    padding: 20px 0;
    *zoom: 1;
  }
  .header:before,
  .header:after {
    display: table;
    content: "";
  }
  .header:after {
    clear: both;
  }
  .headerLeft {
    display: inline;
    float: left;
  }
  .headerRight {
    display: inline;
    float: right;
  }
  .header h1 {
    display: inline;
    float: left;
  }
  .headerWrap {
    width: 100%;
  }
  .headerLeft {
    width: 20%;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
  }
  .headerRight {
    width: 20%;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
  }
  .main {
    width: 90%;
    margin: 0 auto;
  }
  .header h1 {
    width: 60%;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
  }
  .headerImg {
    display: block;
    width: 20px;
    height: 30px;
    margin: 0 auto;
  }
  .banner {
    width: 100%;
    height: 180px;
    background: url(../../images/task5/banner1.png) no-repeat center top;
    background-size: cover;
    padding-top: 100px;
  }
  .banner .info {
    width: 90%;
    *zoom: 1;
    width: 76%;
    margin: 0 auto;
  }
  .banner .info:before,
  .banner .info:after {
    display: table;
    content: "";
  }
  .banner .info:after {
    clear: both;
  }
  .banner .info:before,
  .banner .info:after {
    display: table;
    content: "";
  }
  .banner .info:after {
    clear: both;
  }
  .banner .info {
    *zoom: 1;
    width: 76%;
    margin: 0 auto;
  }
  .banner .info:before,
  .banner .info:after {
    display: table;
    content: "";
  }
  .banner .info:after {
    clear: both;
  }
  .imgBox .headPicBox {
    display: block;
    width: 130px;
    height: 130px;
    background: #fff;
    border-radius: 65px;
    overflow: hidden;
  }
  .imgBox .headPic {
    display: block;
    width: 100px;
    height: 130px;
    margin: 0 auto;
    margin-top: 26px;
  }
  .introduce {
    float: left;
    margin-top: 30px;
    margin-left: 20px;
  }
  .introduce .introTitle {
    font-family: "Adobe Fan Heiti Std B";
    font-size: 28px;
    color: #fff;
    line-height: 34px;
  }
  .introduce .introTitle span {
    margin-left: 22px;
    font-size: 16px;
  }
  .introduce .introTitle span {
    margin-left: 22px;
    font-size: 22px;
  }
  .introduce .introCon {
    font-family: "Adobe Fan Heiti Std B";
    font-size: 18px;
    color: #fff;
    line-height: 26px;
  }
  .introduce .introCon span {
    display: inline-block;
    width: 16px;
    height: 14px;
    background: url(../../images/task5/Shape.png) no-repeat center top;
    vertical-align: middle;
    background-size: contain;
  }
  .content {
    width: 100%;
    padding-bottom: 120px;
    margin: 0 auto;
  }
  .content .title {
    margin: 20px 0;
    margin-left: 20px;
    padding-left: 10px;
    border-left: 2px solid #5fc0cd;
    color: #333;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    font-size: 24px;
  }
  .content .conTitle {
    height: 30px;
    line-height: 30px;
    font-size: 24px;
    margin: 20px 0;
    margin-left: 20px;
  }
  .content .conTitle span {
    display: inline-block;
    padding: 0 10px;
    vertical-align: top;
  }
  .content .conTitleImg {
    margin-right: 10px;
    width: 22px;
    height: 22px;
    vertical-align: baseline;
  }
  .content .conList {
    font-size: 22px;
    padding: 20px 0;
    margin-left: 20px;
    border-top: 1px solid #e1e5e7;
  }
  .content .conList span {
    width: 22%;
    display: inline-block;
    color: #999;
    border-right: 1px solid  #e1e5e7;
    vertical-align: middle;
    text-align: center;
  }
  .content .conList em {
    width: 74%;
    display: inline-block;
    color: #333333;
    padding-left: 10px;
    font-style: normal;
    vertical-align: middle;
  }
  .content .conList b {
    color: #e26163;
  }
  .bottom .botWrap {
    *zoom: 1;
    width: 90%;
    margin: 20px auto;
  }
  .bottom .botWrap:before,
  .bottom .botWrap:after {
    display: table;
    content: "";
  }
  .bottom .botWrap:after {
    clear: both;
  }
  .bottom .btn {
    display: block;
    font-size: 30px;
    height: 60px;
    line-height: 60px;
    width: 45%;
    text-align: center;
  }
  .bottom .btn a {
    display: block;
    color: #5fc0cd;
    width: 100%;
    height: 100%;
    background: #fff;
    border: 1px solid #5fc0cd;
    border-radius: 4px;
  }
  .bottom .btn a.active {
    background: #5fc0cd;
    color: #fff;
  }
}
@media (min-width: 992px) and (max-width: 1119px) {
  .header {
    width: 100%;
    background: #5fc0cd;
    padding: 20px 0;
    *zoom: 1;
  }
  .header:before,
  .header:after {
    display: table;
    content: "";
  }
  .header:after {
    clear: both;
  }
  .headerLeft {
    display: inline;
    float: left;
  }
  .headerRight {
    display: inline;
    float: right;
  }
  .header h1 {
    display: inline;
    float: left;
  }
  .headerWrap {
    width: 100%;
  }
  .headerLeft {
    width: 20%;
    font-size: 26px;
    height: 30px;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
  }
  .headerRight {
    width: 20%;
    font-size: 26px;
    height: 30px;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
  }
  .main {
    width: 90%;
    margin: 0 auto;
  }
  .header h1 {
    width: 60%;
    font-size: 26px;
    height: 30px;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
  }
  .headerImg {
    display: block;
    width: 26px;
    height: 30px;
    margin: 0 auto;
  }
  .banner {
    width: 100%;
    height: 220px;
    background: url(../../images/task5/banner1.png) no-repeat center top;
    background-size: cover;
    padding-top: 100px;
  }
  .banner .info {
    width: 90%;
    *zoom: 1;
    width: 76%;
    margin: 0 auto;
  }
  .banner .info:before,
  .banner .info:after {
    display: table;
    content: "";
  }
  .banner .info:after {
    clear: both;
  }
  .banner .info:before,
  .banner .info:after {
    display: table;
    content: "";
  }
  .banner .info:after {
    clear: both;
  }
  .banner .info {
    *zoom: 1;
    width: 76%;
    margin: 0 auto;
  }
  .banner .info:before,
  .banner .info:after {
    display: table;
    content: "";
  }
  .banner .info:after {
    clear: both;
  }
  .imgBox .headPicBox {
    display: block;
    width: 130px;
    height: 130px;
    background: #fff;
    border-radius: 65px;
    overflow: hidden;
  }
  .imgBox .headPic {
    display: block;
    width: 100px;
    height: 130px;
    margin: 0 auto;
    margin-top: 26px;
  }
  .introduce {
    float: left;
    margin-top: 30px;
    margin-left: 20px;
  }
  .introduce .introTitle {
    font-family: "Adobe Fan Heiti Std B";
    font-size: 28px;
    color: #fff;
    line-height: 34px;
  }
  .introduce .introTitle span {
    margin-left: 22px;
    font-size: 16px;
  }
  .introduce .introTitle span {
    margin-left: 22px;
    font-size: 22px;
  }
  .introduce .introCon {
    font-family: "Adobe Fan Heiti Std B";
    font-size: 18px;
    color: #fff;
    line-height: 26px;
  }
  .introduce .introCon span {
    display: inline-block;
    width: 16px;
    height: 14px;
    background: url(../../images/task5/Shape.png) no-repeat center top;
    vertical-align: middle;
    background-size: contain;
  }
  .content {
    width: 100%;
    padding-bottom: 120px;
    margin: 0 auto;
  }
  .content .title {
    margin: 20px 0;
    margin-left: 20px;
    padding-left: 10px;
    border-left: 2px solid #5fc0cd;
    color: #333;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    font-size: 24px;
    margin-left: 50px;
  }
  .content .conTitle {
    height: 30px;
    line-height: 30px;
    font-size: 24px;
    margin: 20px 0;
    margin-left: 20px;
    margin-left: 50px;
  }
  .content .conTitle span {
    display: inline-block;
    padding: 0 10px;
    vertical-align: top;
  }
  .content .conTitleImg {
    margin-right: 10px;
    width: 22px;
    height: 22px;
    vertical-align: baseline;
  }
  .content .conList {
    font-size: 22px;
    padding: 20px 0;
    margin-left: 20px;
    border-top: 1px solid #e1e5e7;
  }
  .content .conList span {
    width: 22%;
    display: inline-block;
    color: #999;
    border-right: 1px solid  #e1e5e7;
    vertical-align: middle;
    text-align: center;
  }
  .content .conList em {
    width: 74%;
    display: inline-block;
    color: #333333;
    padding-left: 10px;
    font-style: normal;
    vertical-align: middle;
  }
  .content .conList b {
    color: #e26163;
  }
  .bottom .botWrap {
    *zoom: 1;
    width: 90%;
    margin: 20px auto;
  }
  .bottom .botWrap:before,
  .bottom .botWrap:after {
    display: table;
    content: "";
  }
  .bottom .botWrap:after {
    clear: both;
  }
  .bottom .btn {
    display: block;
    font-size: 30px;
    height: 60px;
    line-height: 60px;
    width: 45%;
    text-align: center;
  }
  .bottom .btn a {
    display: block;
    color: #5fc0cd;
    width: 100%;
    height: 100%;
    background: #fff;
    border: 1px solid #5fc0cd;
    border-radius: 4px;
  }
  .bottom .btn a.active {
    background: #5fc0cd;
    color: #fff;
  }
}
@media (min-width: 1200px) {
  .header {
    width: 100%;
    background: #5fc0cd;
    padding: 30px 0;
    *zoom: 1;
  }
  .header:before,
  .header:after {
    display: table;
    content: "";
  }
  .header:after {
    clear: both;
  }
  .headerLeft {
    display: inline;
    float: left;
  }
  .headerRight {
    display: inline;
    float: right;
  }
  .header h1 {
    display: inline;
    float: left;
  }
  .headerWrap {
    width: 100%;
  }
  .headerLeft {
    width: 20%;
    font-size: 30px;
    height: 30px;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
  }
  .headerRight {
    width: 20%;
    font-size: 30px;
    height: 30px;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
  }
  .main {
    width: 1200px;
    margin: 0 auto;
  }
  .header h1 {
    width: 60%;
    font-size: 26px;
    height: 30px;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
  }
  .headerImg {
    display: block;
    width: 26px;
    height: 30px;
    margin: 0 auto;
  }
  .banner {
    width: 100%;
    height: 300px;
    background: url(../../images/task5/banner1.png) no-repeat center top;
    background-size: cover;
    padding-top: 100px;
  }
  .banner .info {
    *zoom: 1;
    width: 1200px;
    margin: 0 auto;
  }
  .banner .info:before,
  .banner .info:after {
    display: table;
    content: "";
  }
  .banner .info:after {
    clear: both;
  }
  .imgBox {
    width: 20%;
  }
  .imgBox .headPicBox {
    display: block;
    width: 180px;
    height: 180px;
    background: #fff;
    border-radius: 90px;
    overflow: hidden;
  }
  .imgBox .headPic {
    display: block;
    width: 160px;
    height: 180px;
    margin: 0 auto;
    margin-top: 30px;
  }
  .introduce {
    float: left;
    margin-top: 60px;
    margin-left: 20px;
  }
  .introduce .introTitle {
    font-family: "Adobe Fan Heiti Std B";
    font-size: 30px;
    color: #fff;
    line-height: 40px;
  }
  .introduce .introTitle span {
    margin-left: 22px;
    font-size: 16px;
  }
  .introduce .introTitle span {
    margin-left: 22px;
    font-size: 26px;
  }
  .introduce .introCon {
    font-family: "Adobe Fan Heiti Std B";
    font-size: 26px;
    color: #fff;
    line-height: 30px;
  }
  .introduce .introCon span {
    display: inline-block;
    width: 16px;
    height: 14px;
    background: url(../../images/task5/Shape.png) no-repeat center top;
    vertical-align: middle;
    background-size: contain;
  }
  .content {
    width: 1200px;
    padding-bottom: 160px;
    margin: 0 auto;
  }
  .content .title {
    margin: 20px 0;
    margin-left: 20px;
    padding-left: 10px;
    border-left: 2px solid #5fc0cd;
    color: #333;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    font-size: 36px;
    margin-left: 50px;
  }
  .content .conTitle {
    height: 40px;
    line-height: 40px;
    font-size: 36px;
    margin: 20px 0;
    margin-left: 20px;
    margin-left: 50px;
  }
  .content .conTitle span {
    display: inline-block;
    padding: 0 10px;
    vertical-align: top;
  }
  .content .conTitleImg {
    margin-right: 10px;
    width: 36px;
    height: 40px;
    vertical-align: baseline;
  }
  .content .conList {
    font-size: 28px;
    padding: 20px 0;
    margin-left: 20px;
    border-top: 1px solid #e1e5e7;
  }
  .content .conList span {
    width: 22%;
    display: inline-block;
    color: #999;
    border-right: 1px solid  #e1e5e7;
    vertical-align: middle;
    text-align: center;
  }
  .content .conList em {
    width: 74%;
    display: inline-block;
    color: #333333;
    padding-left: 10px;
    font-style: normal;
    vertical-align: middle;
  }
  .content .conList b {
    color: #e26163;
  }
  .bottom .botWrap {
    *zoom: 1;
    width: 90%;
    margin: 20px auto;
  }
  .bottom .botWrap:before,
  .bottom .botWrap:after {
    display: table;
    content: "";
  }
  .bottom .botWrap:after {
    clear: both;
  }
  .bottom .btn {
    display: block;
    font-size: 40px;
    height: 80px;
    line-height: 80px;
    width: 45%;
    text-align: center;
  }
  .bottom .btn a {
    display: block;
    color: #5fc0cd;
    width: 100%;
    height: 100%;
    background: #fff;
    border: 1px solid #5fc0cd;
    border-radius: 4px;
  }
  .bottom .btn a.active {
    background: #5fc0cd;
    color: #fff;
  }
}
