body{width:100%;height:100%;background:url(images/js5/bg.jpg) no-repeat center top}
.content{width:300px;background:#ced7c9;margin:100px auto;}
/*form{font-size:0}*/
.login,.register{float:left;display:block;color:#00acf7;background:#fff;font-size:16px;width:80px;height:30px;line-height:30px;text-align:center;}
.login.active,.register.active{background:#00acf7;color:#fff;}
.tabBtn{width:160px;margin:0 auto;}
.userBox{padding:10px;}
.userBox .wrap{background:#fff;border-radius:3px;margin:16px auto 0;width:240px;padding:4px 0;}
.userBox .username,.userBox .password{display:inline-block;padding-left:4px;width:160px;height:30px;line-height:30px;background:#fff;color:#666;}
.usernameImg,.passwordImg{display:inline-block;border-right:1px solid #eee;vertical-align:top;width:30px;height:20px;margin-top:4px;}
.passwordImg{background:url(../../images/js5/password.png) no-repeat center center;}
.usernameImg{background:url(../../images/js5/username.png) no-repeat center center;}
.login-submit,.registerBox-submit{
display:block;
width:240px;
height:30px;
line-height:30px;
text-align:center;
color:#fff;
background:#00acf7;
border-radius:4px;
margin:20px auto;
}
.registerBox{display:none;}
.registerBox .message,.registerBox .code{
display:inline-block;
width:120px;
font-size:14px;
color:#666;
}
.registerBox .message{
text-align:center;
padding:4px 0;
}