@charset "utf-8";
body{
    background:#eff0f4;
}
.container{
    margin:auto;
    width:100%;
    height:100%;
}
.header{
    background:#22292c;
    margin:0 auto;
    height:80px;
    line-height:80px;
    padding:0 4%;
}
.header .headerLeft{
    float:left;
    width:30%;
    height:80px;
    line-height:80px;
    font-size:2.6em;
    color:#f8f6f5;
}
.header .headerLeft img{
    margin-top:10px;

}
.header .headerRight{
    float:right;
    width:30%;
    height:80px;
    line-height:80px;
    font-size:2.6em;
    color:#f8f6f5;
    text-align: right;
}
.header h1{
    float:left;
    width:40%;
    height:80px;
    line-height:80px;
    font-size:2.6em;
    color:#f8f6f5;
    text-align:center;
    font-weight:300;
}
.content{}
.form{}
.importBox{
    margin-top:16px;
    width:100%;
    padding:0 8%;
    height:90px;
    line-height:90px;
    background:#ffffff;
}
.importBox .mobileIcon,.importBox .lockedIcon{
    display:inline-block;
    width:16%;
    height:50px;
    line-height:50px;
    border-right:1px solid #ccc;
    vertical-align: middle;
}
.importBox .mobileIcon span,.importBox .lockedIcon span{
    display:inline-block;
    width:30px;
    height:43px;
}
.importBox .mobileIcon span{background:url(../images/task4/iphone.png) no-repeat left center;}
.importBox .lockedIcon span{background:url(../images/task4/locked.png) no-repeat left center;}
.importBox .text {
    width: 64%;
    height: 88px;
    line-height: 88px;
    border: none;
    text-indent:10px;
    vertical-align: top;
    font-size: 2.25em;
    color: #e1e5e7;
}
.login{
    display:block;
    margin-top:50px;
    width:100%;
    height:60px;
    line-height:60px;
    background:#5fc0cd;
    color:#f3f4f6;
    font-size:2.6em;
    text-align:center;
}
.findCode {
    display: block;
    margin-top: 10px;
    padding-right:4%;
    color: #5fc0cd;
    font-size: 2.2em;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: right;
}