@charset "utf-8";
.container{
    margin:20% auto;
    background:#fff;
}
.container .Lattice{
    width:96%;
    height:30%;
   /* display:webkit-flex;
    display:flex;*/
    margin:auto;
}
.container .Lattice li{
    float:left;
    margin:1%;
    width:31.3%;
    height:100%;
    background:#e8830d;
    border-radius:4px;
}
@media (max-width:374px){
    .container{
        width:300px;
        height:300px;
    }
}
@media (min-width:375px) {
    .container {
        width: 360px;
        height: 360px;
    }
}
@media (min-width:500px){
    .container{
        width:500px;
        height:500px;
    }
}


