@charset "utf-8";
body{
    width:100%;
    background:#68cdd5;
    min-width:320px;
}
.container{
    margin:0 auto;
}
.header{
    background:#22292c;
    margin:0 auto;
    padding:1.5em 2%;
}
.header .headerLeft{
    float:left;
    width:30%;
    font-size:2.6em;
    height:1.6em;
    line-height:1.6em;
    color:#f8f6f5;
}
.header .headerLeft span{
    display:inline-block;
    width:1.6em;
    height:1em;
    background:url(../images/task3/Arrow.png) no-repeat center 46%;
    background-size:contain;
    color:#fff;
    font-size:1.2em;
    vertical-align: middle;
}
.header .headerRight{
    float:right;
    width:30%;
    font-size:2.6em;
    height:1.6em;
    line-height:1.6em;
    color:#f8f6f5;
   /* background-size:cover;*/
    text-align: right;
}
.header .headerRight span{
    background:url(../images/task3/more.png) no-repeat center right;
    background-size:contain;
    display:inline-block;
    width:1.6em;
    height:1em;
    font-size:1.2em;
    vertical-align: middle;
}
.header h1{
    float:left;
    width:40%;
    height:1.6em;
    line-height:1.6em;
    font-size:2.6em;
    color:#f8f6f5;
    text-align:center;
}

.content{
    margin:0 auto;
}
.content .back{
    margin-top:1em;
    margin-left:2%;
    width:3em;
    height:3em;
    background:url(../images/task3/back.png) no-repeat center center;
    background-size: contain;
}
/*.content .logo {
    width: 100%;

}  */
.content .logo{
    width: 40%;
    height: 8em;
    background: url(../images/task3/bigLogo.png) no-repeat center center;
    background-size: contain;
    margin:0 auto;
    margin-top:4em;

}
.content .text{
    width:80%;
    margin:auto;
    margin-top:10%;
    color:#fff;
    font-size:2.6em;
    line-height:2.2em;
}
.content .img{
    width:80%;
    margin:auto;
    margin-top:15%;
    padding-bottom:20%;
}
.content .img .left{
    width:30%;
    float:left;
}
.content .img .left .icon{
    width:100%;
    height:8em;
    background:url(../images/task3/bottomBlue.png) no-repeat center center;
    background-size: contain;
}
.content .img .right{
    width:30%;
    float:right;
}
.content .img .right .icon{
    width:100%;
    height:8em;
    background:url(../images/task3/bottomLogo.png) no-repeat center center;
    background-size: contain;
}
.content .img p {
    color: #fff;
    font-size: 2em;
    font-weight: 600;
    line-height: 3em;
    width: 100%;
    text-align: center;
}


@media (max-width: 768px){
    html,body{
        font-size:62.5%;
    }


}
@media (min-width: 769px){
    html,body{
        font-size:80%;
    }
}

@media (max-width: 480px){
    html,body{
        font-size:56%;
    }
}
@media (max-width: 380px){
    html,body{
        font-size:48%;
    }
}
