body{
    background:#29bde0;
    min-width:320px;
}
.container{
    margin:auto;
    width:100%;
    min-height:100%;
    padding-bottom:10em;
}
.header {
    margin: 0 auto;
    padding: 1em 0;
    text-align: center;
    font-size:3.4em;
    color:#fff;
}
.header .headerLeft{
    float:left;
    width:10%;
    height:0.5em;
    text-align: left;
    margin-left: 3%;
}
.header .headerLeft span{
    display:block;
    width:2.6em;
    height:1.2em;
    background-image: url(../images/task6/headerMore2.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.header .headerRight {
    float: right;
    width: 10%;
    height: 0.5em;
    text-align: right;
    margin-right: 3%;
}
.header .headerRight span{
    display:block;
    width:2.6em;
    height:1.2em;
    background-image: url(../images/task6/closeBtn.png);
    background-repeat: no-repeat;
    background-size: contain;
    /*background-position: right top;*/
}
.vote {
    padding: 0 3%;
    font-size: 2.6em;
    color: #464646;
    text-align: left;
    padding-left: 6%;
    height: 4em;
    line-height: 4em;
    background-color: #b9e9f5;
    position:relative;
}
.vote span{
    float:right;
    display: block;
    margin:1em 0;
    width:2em;
    height:2em;
    background-image: url("../images/task6/iconNext3.png");
    background-size: contain;
}
.vote em {
    position: absolute;
    left: 10%;
    bottom: -1em;
    width: 0;
    height: 0;
    border-top: 1em solid #b9e9f5;
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
}
.voteExplain{
    margin-top:1.5em;
    color:#fff;
    font-size:2.4em;
    padding-left: 13%;
}
.intro{}
.introForm{
    width:90%;
    margin:0 auto;
    margin-top:2em;
}
.introForm li{
    float:left;
    width:23%;
    border: 2px solid #ffffff;
    margin:0 5%;
}
.introForm li h2{
    width:100%;
    background-color: #f5c97b;
    text-align: center;
    padding: 8% 0;
    position: relative;
    font-size:3em;
    color: #ffffff;
}
.introForm li p{
    display:block;
    width:100%;
    font-size:2em;
    padding:3% 0;
    text-align:center;
    color:#fff;
    background-color: #83b09a;
}
.footer{
    position:fixed;
    display:block;
    width:100%;
    bottom:0;
    left:0;
    background:#29bde0;
    border-top:2px solid #fff;
    padding:1.6em 0;
}
.footer a.voteBtn{
    display:block;
    width:70%;
    margin: 0 auto;
    background:#fbb435;
    font-size:3.6em;
    color:#fff;
    height:1.8em;
    line-height:1.8em;
    text-align:center;
}
@media (max-width: 768px){
    html,body{
        font-size:62.5%;
    }


}
@media (min-width: 769px){
    html,body{
        font-size:80%;
    }
}

@media (max-width: 480px){
    html,body{
        font-size:56%;
    }
}
@media (max-width: 380px){
    html,body{
        font-size:48%;
    }
}